#!/bin/bash
yum -y update
yun -y install httpd

cat <<EOF > /var/www/html/index.html
<html>
<h2>how to </h2>

#so used the varianble from file "templates_files.tf"
Owner ${f_name} ${l_name} 

#how used var named all values
#cicle
%{ for x in names ~}
Hello to ${x} from ${f_name}<br>
%{ endfor ~}

</html>
EOF

